{% extends "base.html" %}
{% block assets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tour_days.css') }}">
{% endblock %}

{% block content %}
<div>
    <table>
        <tr>
          <th>Country</th>
          <th>Tour operator</th>
          <th>Price</th>
          <th>Duration in days</th>
        </tr>
        <tbody>
            {% for tour in tours %}
                <tr>
                    <td>{{tour.country}}</td>
                    <td>{{tour.tour_operator}}</td>
                    <td>{{tour.price}}</td>
                    <td>{{tour.days}}</td>
                </tr>
            {% else %}
                <tr>
                    <td>No data</td>
                    <td>No data</td>
                    <td>No data</td>
                    <td>No data</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}