{% extends "base.html" %}
{% block assets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tour.css') }}">
{% endblock %}

{% if find_max %}
  {# Find most expensive Turkey tour #}
  {% set best = namespace(tour=none, price=0) %}
  {% for t in tours %}
    {% if t.country == country and t.price > best.price %}
      {% set best.tour = t %}
      {% set best.price = t.price %}
    {% endif %}
  {% endfor %}
  {% set tour = best.tour %}

{% else %}
  {% set tour = tours | selectattr('tour_operator', 'equalto', operator) | first | default(none) %}
{% endif %}

{% block content %}
<div id="tourContent">
    {% if tour %}
        <table>
            <tr>
                <th>Country:</th>
                <td>{{tour.country}}</td>
            </tr>
            <tr>
                <th>Tour operator:</th>
                <td>{{tour.tour_operator}}</td>
            </tr>
            <tr>
                <th>Price:</th>
                <td>{{tour.price}}</td>
            </tr>
            <tr>
                <th>Duration in days</th>
                <td>{{tour.days}}</td>
            </tr>
        </table>
    {% else %}
        <div class="tourNotFound">
            No such tour was found
        </div>
    {% endif %}
</div>
{% endblock %}